# {{ ansible_managed }}

server {
    listen       443 ssl;
    server_name  {{ public_ip }};
    ssl_certificate {{ pki.directory }}/{{ public_ip }}.crt;
    ssl_certificate_key {{ pki.directory }}/{{ public_ip }}.pem;

    include /etc/nginx/conf.d/*.locations;
}
