# {{ ansible_managed }}

JAVA_HOME=/usr/lib/jvm/java-{{ java.version }}-openjdk-amd64
PORT={{ bot.port }}
TELEGRAM_TOKEN={{ bot.telegram.token }}
TEMPLATES_DIR={{ bot.directory }}/templates
FONTS_DIR={{ bot.directory }}/fonts
IMGUR_CLIENT_ID={{ bot.imgur.clientId }}
